.container{
	max-width: 550px;
	margin: 0 auto;
}

.header{
	background-color: #F55A5A;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;

}
.header__logo{
	margin-right: 5px;
}
.header__title{
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.075em;
	color: #fff;
}